///// COLORS

:root {
    --color-primary: #2a9d8f;
    --color-primary-light: #2a9d9056;
    --color-primary-dark: #264653;

    --color-secondary-light: #e9c46a;
    --color-secondary-medium: #f4a261;
    --color-secondary-dark: #e76f51;
    --color-white: #fff;


    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-primary-dark);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10/16px = 62.5%
}

body {
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    line-height: 1.6;
    //color: var(--color-grey-dark-1);
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    background-color:var(--color-grey-dark-1);
    max-width: 120rem;
    margin: 3rem auto;
    min-height: 50rem;
    //color: red;
}